{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true,
    "checkValidServiceWorker": true,
    "registerValidSW": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
